# Python/Flask backend

# Environments
.env
.env.*
!.env.example

# Dependencies
/node_modules
/bower_components

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Build
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
/backend/venv/
/backend/env/
/backend/__pycache__/
/backend/*.pyc
/backend/.env.example
/backend/.env

# React frontend
/frontend/node_modules/
/frontend/build/
/frontend/coverage/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.example
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# IDE / Editor specific
.idea/
.vscode/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db
